{%- macro postItem(post) -%}
  <div
    class="space-y-2 border-t-3 border-solid border-grey-900 sm:flex sm:flex-col sm:gap-y-1"
  >
    <div>
      <a
        href="{{ post.page.url }}"
        class="transition-colors hover:text-pank hover:underline"
      >
        {% if post.data.title %}
          <h3 class="text-pretty font-display text-xl">
            {{ post.data.title }}
          </h3>
        {% endif %}
      </a>
      {# Display date and tags. For sm and larger viewports, this is a flex row #}
      <div class="border-b pb-1 sm:flex sm:gap-x-1 md:gap-x-2 md:pb-0">
        <h4
          class="text-l whitespace-nowrap font-display font-normal italic sm:-mt-1"
        >
          {{ post.date | localeDate }}
        </h4>
        <div class="sm:flex-grow sm:text-right">
          <ul class="font-smallcaps leading-none sm:justify-end">
            {% for tag in post.data.tags | postTags %}
              {# tag list elements are spaced depending on whether they are
                 left-aligned (narrow screens) or right-aligned (wider) #}
              <li
                class="my-px mr-1 inline-block font-smallcaps text-sm text-grey-600 last:mr-0 sm:my-0 sm:ml-1 sm:mr-0"
              >
                <a
                  class="leading-none transition-colors hover:text-pank"
                  href="/tags/{{ tag | slugify }}"
                  >#{{ tag }}</a
                >
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="font-body text-grey-700">
      {% if post.data.excerpt %}{% markdown %}{{ post.data.excerpt }}{% endmarkdown %}{% endif %}
    </div>
  </div>
{%- endmacro -%}
