---
layout: layout.html
---

<div class="md:col-span-3 md:border-r md:pr-4 md:text-right lg:col-span-2">
  <a id="about">
    <h2 class="text-center font-display text-2xl md:text-right">About Lyza</h2>
  </a>
</div>
<div class="md:col-span-9 prose text-lg lg:text-justify">{{content}}</div>

<div class="md:col-span-12">
  <img
    src="https://res.cloudinary.com/dfsssdwbu/image/upload/v1706555956/lyza-working_bdrz2p.jpg"
    alt="Lyza Working"
    class="max-h-[200px] w-full object-cover object-top lg:max-h-[280px]"
  />
</div>

<div class="md:col-span-3 md:border-r md:pr-4 md:text-right lg:col-span-2">
  <a id="books">
    <h2 class="text-center font-display text-2xl md:text-right">Books</h2>
  </a>
</div>
<div class="grid grid-cols-2 gap-4 md:col-span-9 lg:col-span-10 lg:px-16">
  {% for book in books %}
  <div class="group row-span-2 grid max-w-[18rem] grid-rows-subgrid gap-2">
    {% render "book.html" with book as book %}
  </div>
  {% endfor %}
</div>
