---
layout: layout.html
---

{% render "home-subhead.html", title: "About Lyza", id: "about" %}
<div class="md:col-span-9 prose text-lg lg:text-justify">{{content}}</div>

<div class="md:col-span-12">
  <img
    src="https://res.cloudinary.com/dfsssdwbu/image/upload/v1706555956/lyza-working_bdrz2p.jpg"
    alt="Lyza Working"
    class="max-h-[200px] w-full object-cover object-top lg:max-h-[280px]"
  />
</div>

{% render "home-subhead.html", title: "Books", id: "books" %}
<div class="grid grid-cols-2 gap-4 md:col-span-9 lg:col-span-10 lg:px-16">
  {% for book in books %}
  <div class="group row-span-2 grid max-w-[18rem] grid-rows-subgrid gap-2">
    {% render "book.html" with book as book %}
  </div>
  {% endfor %}
</div>

{% render "home-subhead.html", title: "Selected Conferences", id: "conferences"
%}

<div class="md:col-span-9 lg:col-span-10">
  <ul
    class="grid grid-cols-3 items-center justify-items-center gap-4 md:grid-cols-4 lg:grid-cols-6 lg:gap-6"
  >
    {% for event in events %} {% if event.imageUrl %}
    <li><img src="{{event.imageUrl}}"" alt={event.title} /></li>
    {% endif %} {% endfor %}
  </ul>
</div>
