<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,900;1,400&family=Playfair+Display:ital,wght@0,900;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="/styles.css" rel="stylesheet" />
    <title>Lyza.com</title>
  </head>
  <body class="font-body mx-4">
    <div class="max-w-5xl mx-auto my-8 space-y-8">
      {% include 'header.html' %}
      <main class="grid md:grid-cols-12 gap-8">{{ content }}</main>
    </div>
  </body>
</html>
