{% macro seriesNavigation(series, prevPost, nextPost) %}
  {% if series %}
    <hr class="border-t border-grey-200 md:mx-4" />
    <div class="text-center md:text-xl">
      <span class="font-display text-pank">Series</span> /
      <span class="font-display"
        ><a
          class="transition-colors hover:text-pank hover:underline"
          href="/series/{{ series.slug }}"
          >{{ series.title }}</a
        ></span
      >
    </div>
    <div
      class="prose prose-stone flex max-w-none items-start gap-x-2 leading-none"
    >
      {% if prevPost %}
        <div>«</div>
        <div class="text-left leading-tight">
          <div class="sr-only italic sm:not-sr-only">Previous in series:</div>
          <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        </div>
      {% endif %}
      {% if nextPost %}
        <div class="flex-grow text-right leading-tight">
          <div class="sr-only italic sm:not-sr-only">Next in series:</div>
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </div>
        <div>»</div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro seriesContents(series, seriesPosts, currentUrl) %}
  <div class="bg-grey-100 p-3">
    <div class="border-b py-1 font-display text-lg sm:p-1">
      <span class="text-pank">Series</span> /
      <a
        class="not-prose transition-colors hover:text-pank hover:underline"
        href="/series/{{ series.slug }}"
        >{{ series.title }}</a
      >
    </div>
    <p class="my-2 italic leading-snug md:text-sm">{{ series.description }}</p>

    <nav class="prose prose-stone">
      <ol class="mt-0 text-pretty leading-snug sm:text-sm">
        {% for seriesPost in seriesPosts %}
          <li>
            <a
              href="{{ seriesPost.url }}"
              class="{% if seriesPost.url == currentUrl %}
                text-grey-700 no-underline font-semibold
              {% endif %} transition-colors hover:text-pank hover:underline"
              {% if seriesPost.url == currentUrl %}aria-current="page"{% endif %}
              >{{ seriesPost.data.title }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endmacro %}
