<nav class="print:hidden">
  <ul class="flex flex-row gap-4 justify-self-stretch sm:gap-6">
    <li
      class="{% if navigationKey == 'about' %}border-pank{% else %}border-transparent{% endif %} border-b-10 pt-2.5"
    >
      <a
        href="/"
        style="font-variant-caps: all-small-caps"
        class="{% if navigationKey == 'about' %}italic{% endif %} pt-2.5 font-title text-2xl font-light text-grey-700 hover:text-pank"
        {% if navigationKey == 'about' %}
          aria-current="page"
        {% endif %}
        >About</a
      >
    </li>
    <li
      class="{% if navigationKey == 'posts' %}border-pank{% else %}border-transparent{% endif %} border-b-10 pt-2.5"
    >
      <a
        href="/blog"
        style="font-variant-caps: all-small-caps"
        class="{% if navigationKey == 'posts' %}italic{% endif %} pt-2.5 font-title text-2xl font-light text-grey-700 hover:text-pank"
        {% if navigationKey == 'posts' %}
          aria-current="page"
        {% endif %}
        >Blog</a
      >
    </li>
  </ul>
</nav>
