{% macro topNavLink(href, title, key, navigationKey) %}
  <a
    href="{{ href }}"
    style="font-variant-caps: all-small-caps"
    {% if navigationKey == key %}
      aria-current="page"
    {% endif %}
    class="{% if navigationKey == key %}italic{% endif %} font-smallcaps pt-2.5 text-2xl font-light text-grey-700 transition-colors hover:text-pank"
    >{{ title }}</a
  >
{% endmacro %}

{% macro topNavItem(href, title, key, navigationKey) %}
  <li
    class="{% if navigationKey == key %}border-pank{% else %}border-transparent{% endif %} border-b-10 pt-2.5"
  >
    {{ topNavLink(href, title, key, navigationKey) }}
  </li>
{% endmacro %}

<nav class="print:hidden">
  <ul class="flex flex-row gap-4 justify-self-stretch sm:gap-6">
    {{ topNavItem('/', 'About', 'about', navigationKey) }}
    {{ topNavItem('/blog', 'Blog', 'posts', navigationKey) }}
  </ul>
</nav>
