<div class="flex flex-col gap-y-1 border-t-3 border-solid border-grey-900">
  <div>
    <a href="{{ post.page.url }}" class="hover:text-pank">
      {% if post.data.title %}
        <h3 class="font-display text-xl">{{ post.data.title }}</h3>
      {% endif %}
    </a>

    <div class="flex items-center gap-x-1 border-b">
      <h4 class="text-l font-display font-normal italic">
        {{ post.date | localeDate }}
      </h4>
      <div class="flex-grow">
        <ul class="flex flex-row justify-end gap-2 font-title">
          {% for tag in post.data.tags | postTags %}
            <li
              class="text-lg text-grey-600 hover:text-pank"
              style="font-variant-caps: all-small-caps"
            >
              <a href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="font-body text-grey-700">
    {% if post.data.excerpt %}{{ post.data.excerpt }}{% endif %}
  </div>
</div>
