<div
  class="border-t-3 border-solid border-grey-900 sm:flex sm:flex-col sm:gap-y-1"
>
  <div>
    <a
      href="{{ post.page.url }}"
      class="transition-colors hover:text-pank hover:underline"
    >
      {% if post.data.title %}
        <h3 class="text-pretty font-display text-xl">{{ post.data.title }}</h3>
      {% endif %}
    </a>

    <div class="border-b sm:flex sm:items-center sm:gap-x-1">
      <h4 class="text-l whitespace-nowrap font-display font-normal italic">
        {{ post.date | localeDate }}
      </h4>
      <div class="sm:flex-grow">
        <ul class="flex flex-row gap-2 font-smallcaps sm:justify-end">
          {% for tag in post.data.tags | postTags %}
            <li class="font-smallcaps text-sm text-grey-600">
              <a
                class="transition-colors hover:text-pank"
                href="/tags/{{ tag | slugify }}"
                >#{{ tag }}</a
              >
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="font-body text-grey-700">
    {% if post.data.excerpt %}{% markdown %}{{ post.data.excerpt }}{% endmarkdown %}{% endif %}
  </div>
</div>
