<div
  class="relative row-span-4 grid grid-rows-subgrid gap-2 border-t-3 border-t-grey-800"
>
  <div class="flex h-full flex-col border-b border-b-grey-800">
    <h2 class="flex-grow font-display text-lg leading-snug">
      {% if work.data.url %}
        <a href="{{ work.data.url }}" class="hover:text-pank hover:underline">
          {{ work.data.title }}
        </a>
      {% else %}
        {{ work.data.title }}
      {% endif %}
    </h2>
    <div class="justify-self-end">
      {% if work.source %}
        <span class="font-display italic">{{ work.data.source }}</span>
      {% endif %}
      <div
        style="font-variant-caps: all-small-caps"
        class="float-end pb-2 pr-1 text-lg leading-none text-pank md:absolute md:bottom-full md:right-0 md:float-none"
      >
        {{ work.data.type }}
      </div>
    </div>
  </div>
  <div class="self-center border-b-grey-800 py-2">
    {% if work.data.imageUrl %}
      <a href="{{ work.data.url }}">
        <img
          src="{{ work.data.imageUrl }}"
          class="max-h-[150px] w-full object-contain"
          alt="{{ work.data.title }}"
        />
      </a>
    {% endif %}
  </div>
  <div>
    <div class="prose flex-grow leading-normal">{{ work.content }}</div>
  </div>
</div>
