---
layout: layouts/base.njk
navigationKey: about
title: Lyza Danger Gardner, CV (Resume)
hideHeaderPrint: true
---

{% from 'components/icon-link.njk' import iconLink %}
{% from '_cv.njk' import educationItem, experienceItem, skillListItems, works %}

<div
  class="col-span-12 grid grid-cols-12 gap-4 sm:gap-y-6 md:gap-y-8 lg:gap-x-6"
>
  <div class="col-span-12 max-w-none space-y-3 sm:col-span-8 md:space-y-4">
    <div
      class="prose prose-sm prose-stone max-w-none leading-snug md:prose-lg sm:text-justify md:leading-normal print:pt-1"
    >
      {% markdown %}
        {%- include "./objective.md" -%}
      {% endmarkdown %}
    </div>
  </div>
  <div
    class="order-first col-span-12 space-y-3 sm:order-none sm:col-span-4 print:order-first print:space-y-3"
  >
    <div class="text-center print:pr-2 print:text-right">
      <h2
        class="font-display text-lg sm:text-base md:text-lg lg:text-xl print:text-xl"
      >
        Lyza <span class="print:text-pank">Danger</span> Gardner
      </h2>
      <h3 class="font-display text-sm italic lg:text-base">
        Web Developer and Advocate
      </h3>
    </div>

    <div
      class="hidden gap-y-1 print:flex print:flex-col print:items-end print:pr-2"
    >
      {% set email = profile.identities.email %}
      <div class="text-xs leading-none">Chester, Vermont, USA</div>
      <div class="text-xs leading-none">+1 (503) 789-5611</div>
      <div>{{ iconLink(email.url, 'lyza@lyza.com', email.icon) }}</div>
      <div class="font-display text-sm italic leading-none">
        <a href="https://wwww.lyza.com">www.lyza.com</a>
      </div>
    </div>

    <div class="flex flex-col items-center print:hidden">
      {% set email = profile.identities.email %}
      {% set mastodon = profile.identities.mastodon %}
      {% set github = profile.identities.github %}
      <div class="text-2xl">
        {{ iconLink(email.url, 'lyza@lyza.com', email.icon) }}
      </div>
      <div
        class="hidden font-display text-base italic leading-tight sm:text-lg"
      >
        <a href="https://wwww.lyza.com">www.lyza.com</a>
      </div>
      <div
        class="flex items-center gap-x-2 pb-2 text-base sm:border-b sm:text-lg"
      >
        {{ iconLink(mastodon.url, mastodon.title, mastodon.icon) }}
        <div>|</div>
        {{ iconLink(github.url, github.title, github.icon) }}
      </div>
      <div class="hidden py-2 text-center text-lg sm:block">
        {{ iconLink('/LyzaDGardnerResume.pdf', 'Download PDF', 'download', newWindow=true) }}
      </div>
    </div>
  </div>

  <div class="order-last col-span-12 space-y-4 sm:order-none sm:col-span-4">
    <h2 class="border-b-2 font-display text-lg md:text-2xl">Works</h2>

    {{ works(books) }}
    <div
      class="prose prose-sm leading-snug lg:prose-base print:prose-a:italic print:prose-a:no-underline"
    >
      {% markdown %}
        {%- include './works.md' -%}
      {% endmarkdown %}
    </div>
    <h2 class="border-b-2 font-display text-lg md:text-2xl">What I Can Do</h2>
    <ul class="space-y-2 lg:space-y-4">
      {{ skillListItems(skills) }}
    </ul>
  </div>
  <div class="col-span-12 max-w-none space-y-3 sm:col-span-8 md:space-y-4">
    <h2 class="border-b-2 font-display text-lg md:text-2xl">Experience</h2>
    <ul class="space-y-4">
      {% for exp in collections.experience | reverse %}
        <li>{{ experienceItem(exp) }}</li>
      {% endfor %}
    </ul>
    <h2 class="border-b-2 font-display text-xl">Education</h2>
    <ul class="space-y-4">
      {% for edu in education | reverse %}
        <li>{{ educationItem(edu) }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
