<!doctype html>
<html lang="en">
  <head>
    <title>{{ "Lyza.com: " + title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
      {%- include "partials/_css.njk" -%}
    {% endblock %}
    <link rel="me" href="mailto:{{ metadata.author.email }}" />
    <meta name="robots" content="noimageai" />
    <meta name="robots" content="noai" />
    <meta name="author" content="{{ metadata.author.name }}" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}" />
    <meta property="article:author" content="{{ metadata.author.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:url"
      content="{{ page.url | htmlBaseUrl(metadata.url) }}"
    />
    <meta
      property="og:image"
      content="{{ '/images/lyza.gif' | htmlBaseUrl(metadata.url) }}"
    />
    {% if excerpt %}
      <meta property="og:description" content="{{ excerpt }}" />
    {% else %}
      <meta property="og:description" content="{{ metadata.description }}" />
    {% endif %}

    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feeds/rss.rss"
      title="Lyza.com: All Posts"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feeds/tech.rss"
      title="Lyza.com: Work and Tech Posts"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feeds/life.rss"
      title="Lyza.com: Life (Non-tech) Posts"
    />
  </head>
  <body class="mx-4 font-body">
    <a href="#skip" class="sr-only">Skip to main content</a>
    <div
      class="mx-auto flex min-h-[100vh] max-w-5xl flex-col space-y-6 py-2 md:space-y-8 md:py-8"
    >
      {%- block header -%}
        {%- include 'partials/_header.njk' -%}
      {%- endblock -%}

      <div
        class="grid flex-grow grid-cols-12 gap-x-4 gap-y-6 md:gap-y-12 lg:gap-y-16"
      >
        {{ content | safe }}
      </div>

      {%- block footer -%}
        {%- include 'partials/_footer.njk' -%}
      {%- endblock -%}
    </div>
  </body>
</html>
