---
layout: layouts/base.njk
description: layout for an individual blog post; excerpt at left
navigationKey: posts
---

<div class="relative col-span-12 md:col-span-4">
  <div class="static space-y-2 md:sticky md:top-0">
    <div class="border-b py-2 font-display">
      <h2 class="text-xl">{{ title }}</h2>
      <h4 class="italic">{{ page.date | localeDate }}</h4>
    </div>
    <div class="border-b pb-2">
      <div class="prose prose-lg prose-stone italic">{{ excerpt }}</div>
    </div>
    <ul class="flex flex-row gap-2 font-smallcaps">
      {% set postTags = tags | postTags %}
      {% for tag in postTags %}
        <li>
          <a
            href="/tags/{{ tag | slugify }}"
            class="font-smallcaps text-sm text-grey-600 transition-colors hover:text-pank hover:underline"
            >#{{ tag }}</a
          >
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{# Set min-width and overflow to prevent code block blowouts.
 #  See https://stackoverflow.com/questions/55738093/prismjs-not-overflowing-with-css-grid
 #}
<main class="col-span-12 min-w-0 overflow-auto md:col-span-8 md:pl-4" id="skip">
  {% if inSeries %}
    {% set seriesPosts = collections[inSeries] %}
    {% set activeSeries = series | getSeriesBySlug(inSeries) %}
    {% include 'components/series-toc.njk' %}
  {% endif %}
  <div class="prose prose-stone">{{ content }}</div>
</main>
<div class="col-span-12 max-w-none space-y-4">
  {% if inSeries %}
    {% set nextPost = seriesPosts | getNextCollectionItem(page) %}
    {% set prevPost = seriesPosts | getPreviousCollectionItem(page) %}
    {% include 'components/series-navigation.njk' %}
  {% endif %}
</div>
