---
layout: layouts/base.njk
description: layout for an individual blog post; excerpt at left
navigationKey: posts
---

<div class="relative md:col-span-4">
  <div class="static space-y-2 md:sticky md:top-0">
    <div class="border-b py-2 font-display">
      <h2 class="text-xl">{{ title }}</h2>
      <h4 class="italic">{{ page.date | localeDate }}</h4>
    </div>
    <div class="border-b pb-2">
      <div class="prose prose-lg italic">{{ excerpt }}</div>
    </div>
    <ul class="flex flex-row gap-2 font-title">
      {% for tag in tags %}
        {% if tag != 'posts' %}
          <li
            class="text-lg text-grey-600 hover:text-pank"
            style="font-variant-caps: all-small-caps"
          >
            <a href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{# Set min-width and overflow to prevent code block blowouts.
 #  See https://stackoverflow.com/questions/55738093/prismjs-not-overflowing-with-css-grid
 #}
<main class="prose min-w-0 overflow-auto md:col-span-8 md:pl-4" id="skip">
  {{ content }}
</main>
