---
layout: layouts/base.njk
description: >
  A layout with post tags in the left column (wide screen) and a content area
navigationKey: posts
---
<div class="space-y-2 md:col-span-4">
  <h3 class="border-b pb-2 font-display text-xl">Posts by Tag</h3>
  <nav>
    <ul>
      <li class="font-title">
        <a
          href="/blog"
          class="
            {% if not activeTag %}text-pank italic border-l-3 border-pank
            font-semibold{% endif %} pl-2 hover:text-pank
          "
          {% if not activeTag %}
            aria-current="page"
          {% endif %}
          >All Posts ({{ collections.post.length }})</a
        >
      </li>
      {% set postTags = collections.post | getAllTagsWithCount %}
      {% for tag in postTags %}
        <li class="font-title">
          <a
            href="/tags/{{ tag.tag | slugify }}"
            class="
              {% if tag.tag == activeTag %}text-pank italic border-l-3
              border-pank font-semibold{% endif %} pl-2 hover:text-pank
            "
            {% if tag.tag == activeTag %}
              aria-current="page"
            {% endif %}
          >
            {{- tag.tag -}}
            &nbsp;({{ tag.count }})</a
          >
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<div class="space-y-8 md:col-span-8">
  <h1
    class="border-l border-l-8 border-pank bg-grey-100 p-2 font-display text-2xl"
  >
    {{ title }}
  </h1>
  {{ content }}
</div>
