---
layout: layouts/base.njk
description: layout for the site landing page
navigationKey: about
---

{% from 'components/featured-summary.njk' import latest %}
{% from 'components/icon-link.njk' import iconLink %}

{% macro subhead(id, title) %}
  <div
    class="col-span-12 md:col-span-2 md:border-r md:pr-4 md:text-right lg:col-span-2"
  >
    <a id="{{ id }}">
      <h2
        class="text-center font-display text-2xl sm:text-left md:text-right md:text-base lg:text-2xl"
      >
        {{ title }}
      </h2>
    </a>
  </div>
{% endmacro %}

{{ subhead("about", "About Lyza") }}
<main
  class="prose prose-stone col-span-12 lg:prose-lg sm:col-span-8 md:col-span-6 lg:col-span-7 lg:text-justify"
  id="skip"
>
  {{ content | safe }}
</main>

<div
  class="col-span-12 flex flex-col gap-y-4 sm:col-span-4 md:col-span-4 md:gap-y-0 lg:col-span-3"
>
  <h2 class="border-b pb-2 font-display text-lg sm:text-base lg:text-lg">
    Find me out there
  </h2>
  <ul class="space-y-4 px-2 text-xl md:space-y-3 md:p-4">
    {% for key, identity in profile.identities %}
      <li>{{ iconLink(identity.url, identity.title, identity.icon) }}</li>
    {% endfor %}
  </ul>
  <h2 class="border-b pb-2 font-display text-lg sm:text-base lg:text-lg">
    Follow my work (and play)
  </h2>
  <ul class="space-y-4 px-2 text-xl md:space-y-3 md:p-4">
    {{ iconLink("/feeds/rss.rss", "RSS: Everything", "rss") }}
    {{ iconLink("/feeds/tech.rss", "RSS: Tech stuff", "rss") }}
    {{ iconLink("/feeds/life.rss", "RSS: Non-tech stuff", "rss") }}
  </ul>
</div>

{# look for `featured` in this content's front-matter else, feature the latest post #}
{% set latestPost = collections.posts | last %}
{% set featuredData = featured if featured else latestPost.data %}
{% set featuredUrl = featured.url if featured else latestPost.url %}

<div
  class="col-span-12 grid items-center gap-4 border-l border-l-8 border-pank bg-grey-100 p-3 md:grid-cols-12"
>
  {{ latest(featuredData.title, featuredData.excerpt, featuredUrl) }}
</div>

<div class="col-span-12">
  <img
    src="https://res.cloudinary.com/dfsssdwbu/image/upload/v1706555956/lyza-working_bdrz2p.jpg"
    alt="Lyza Working"
    class="max-h-[200px] w-full object-cover object-top lg:max-h-[280px]"
  />
</div>

{{ subhead("books", "Books") }}
<div
  class="col-span-12 grid grid-cols-2 gap-4 md:col-span-9 lg:col-span-10 lg:px-16"
>
  {% for book in books %}
    <div class="group row-span-2 grid max-w-[18rem] grid-rows-subgrid gap-2">
      {% include 'components/book.njk' %}
    </div>
  {% endfor %}
</div>

{{ subhead("conferences", "Selected Conferences") }}

<div class="col-span-12 md:col-span-9 lg:col-span-10">
  <ul
    class="grid grid-cols-3 items-center justify-items-center gap-6 sm:grid-cols-4 lg:grid-cols-6 lg:gap-6"
  >
    {% for event in events %}
      {% if event.imageUrl %}
        <li><img src="{{ event.imageUrl }}" alt="{{ event.title }}" /></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{{ subhead("what-i-do", "What I Do") }}
<div
  class="col-span-12 grid sm:grid-cols-2 md:col-span-9 lg:col-span-10 lg:grid-cols-3"
>
  {% for skillset in skills %}
    <div class="row-span-2 grid grid-rows-subgrid border-t-3 border-grey-900">
      <h3
        class="p-1 font-display text-xl font-bold italic text-pank sm:text-lg lg:text-xl"
      >
        {{ skillset.description }}
      </h3>
      <ul class="border-t bg-grey-100 p-2 pb-4">
        {% for skill in skillset.skills %}
          <li class="text-lg" style="font-variant-caps: all-small-caps">
            {{ skill }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{{ subhead("publications", "Publications, Interviews and More") }}
<div
  class="col-span-12 grid gap-y-4 sm:grid-cols-2 sm:gap-x-4 sm:gap-y-8 md:col-span-9 lg:col-span-10 lg:grid-cols-3 lg:gap-y-12"
>
  {% for work in collections.works | reverse %}
    {% include 'components/work.njk' %}
  {% endfor %}
</div>
