---
layout: layouts/layout.html
description: layout for the site landing page
navigationKey: about
---

{% macro subhead(id, title) %}
<div class="md:col-span-3 md:border-r md:pr-4 md:text-right lg:col-span-2">
  <a id="{{id}}">
    <h2 class="text-center font-display text-2xl md:text-right">{{title}}</h2>
  </a>
</div>
{% endmacro %}

{{ subhead("about", "About Lyza") }}
<div class="md:col-span-9 prose text-lg lg:text-justify">{{content | safe }}</div>

<div class="md:col-span-12">
  <img
    src="https://res.cloudinary.com/dfsssdwbu/image/upload/v1706555956/lyza-working_bdrz2p.jpg"
    alt="Lyza Working"
    class="max-h-[200px] w-full object-cover object-top lg:max-h-[280px]"
  />
</div>

{{ subhead("books", "Books") }}
<div class="grid grid-cols-2 gap-4 md:col-span-9 lg:col-span-10 lg:px-16">
  {% for book in books %}
  <div class="group row-span-2 grid max-w-[18rem] grid-rows-subgrid gap-2">
    {% include "components/book.njk" %}
  </div>
  {% endfor %}
</div>

{{ subhead("conferences", "Selected Conferences") }}

<div class="md:col-span-9 lg:col-span-10">
  <ul
    class="grid grid-cols-3 items-center justify-items-center gap-4 md:grid-cols-4 lg:grid-cols-6 lg:gap-6"
  >
    {% for event in events %}
      {% if event.imageUrl %}
    <li><img src="{{event.imageUrl}}" alt="{{event.title}}" /></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{{ subhead("what-i-do", "What I Do") }}
<div class="grid md:col-span-9 md:grid-cols-2 lg:col-span-10 lg:grid-cols-3">
  {% for skillset in skills %}
  <div class="row-span-2 grid grid-rows-subgrid border-t-3 border-grey-900">
    <h3 class="p-1 font-display text-xl font-bold italic text-pank">
      {{skillset.description}}
    </h3>
    <ul class="border-t bg-stone-100 p-2 pb-4">
      {% for skill in skillset.skills %}
      <li class="text-lg" style="font-variant-caps: all-small-caps">
        {{skill}}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

{{ subhead("publications", "Publications, Interviews and More")}}
<div
  class="grid md:col-span-9 md:grid-cols-2 md:gap-x-4 md:gap-y-8 lg:col-span-10 lg:grid-cols-3 lg:gap-y-12"
>
  {% for work in collections.works %} {% include "components/work.njk" %} {% endfor %}
</div>
