---
description: base layout for site
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,900;1,400&family=Playfair+Display:ital,wght@0,900;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="/styles.css" rel="stylesheet" />
    <title>Lyza.com: {{title}}</title>
  </head>
  <body class="font-body mx-4">
    <div class="max-w-5xl mx-auto my-8 space-y-8">
      {% include "components/site-header.njk" %}
      <main class="grid md:grid-cols-12 gap-x-4 gap-y-6 md:gap-y-8 lg:gap-y-16">
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
