---
permalink: 404.html
title: "404: Not Found"
layout: layouts/layout.njk
---

<div class="prose max-w-none text-center md:col-span-12">
  <h1>Sorry! Not Found (404)</h1>
  <p class="text-xl">
    Bah. What you are looking for here doesn't seem to exist. Sorry about that!
  </p>
</div>
