---
layout: layouts/blog.njk
title: Bloggy-posties
---
<ul class="space-y-8">
  {% for post in collections.post | reverse %}
    {% include 'components/post-excerpt-list-item.njk' %}
  {% endfor %}
</ul>
