---
pagination:
  data: collections
  size: 1
  alias: activeTag
  filter:
    - all
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/blog.njk
eleventyComputed:
  title: "Posts tagged '{{ activeTag }}'"
permalink: /tags/{{ activeTag | slugify }}/
---

<ul class="space-y-8">
  {% from '_post.njk' import postItem %}
  {% for post in collections[activeTag] | reverse %}
    <li>{{ postItem(post) }}</li>
  {% endfor %}
</ul>
