<footer
  class="flex justify-center border-t-2 py-4 text-center font-smallcaps print:hidden"
>
  <div class="flex gap-x-2 px-2">
    <div>
      Built by Lyza with
      <a
        href="https://www.11ty.dev/"
        class="text-pank transition-colors hover:underline"
        >Eleventy</a
      >
    </div>
  </div>
  <div class="group flex items-center gap-x-2 border-l px-2">
    <a
      href="https://github.com/lyzadanger/lyza-dot-11ty"
      class="transition-colors group-hover:text-pank group-hover:underline"
      >Source</a
    >
    <div class="mt-px h-4 w-4">
      <a
        href="https://github.com/lyzadanger/lyza-dot-11ty"
        class="text-grey-700 transition-colors group-hover:text-pank"
      >
        {%- include 'icons/github.njk' -%}
      </a>
    </div>
  </div>
</footer>
